<nav>
  <div class="nav-wrapper #b2dfdb teal lighten-4">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/about">about</a></li>
      <li><a href="/burgs">burgs</a></li>
      <li><a href="/login">login</a></li>
    </ul>
  </div>
</nav>
