<!DOCTYPE html>
<html ng-app="things">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Armata" rel="stylesheet">
    <title>Deadly Australians</title>
  </head>
  <body>
    <nav class="navbar is-black">
      <a class="navbar-item" ui-sref="home">Home</a>
      <a class="navbar-item">About</a>
      <a class="navbar-item" ui-sref="new">Add a thing</a>
      <a class="navbar-item" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>
      <a class="navbar-item" ui-sref="register" ng-if="!main.isAuthenticated()">Register</a>
      <a class="navbar-item" ui-sref="login" ng-if="!main.isAuthenticated()">Login</a>
    </nav>
    <ui-view></ui-view>
  </body>
</html>
