* {
  font-family: sans-serif;
  color:black;
}

header {
  background:whitesmoke;
}

main {
  width:900px;
  margin: 0 auto;
}

.top-nav ul li {
  display:inline-block;
  text-decoration: none;
  padding:10px;
}

.top-nav ul {
  padding-left:160px;
  font-size:15px;
}

.top-nav ul li a {
  text-decoration: none;
  font-family:sans-serif;
  font:black;
}

#topnav-logo {
  margin: 0;
  padding: 1px;
  height:20px;
}

section h2 {
  font-family:sans-serif;
  border-bottom: 1px solid lightgrey;
  margin-bottom:10px;
  font-size: 30px;
  padding-left:20px;
  display:inline-block;
  padding-top:20px;
  padding-bottom:20px;
}

button {
  font-family: sans-serif;
  margin-left:500px;
  vertical-align: top;
  float:right;
}

#search-here {
  height:20px;
  padding:10px;
  border:none;
  width:300px;
}

.section-1  {
  display:inline-block;
  float:left;
}

.blue-nav{
  float:left;
  color: #39739d;
  background-color: white;
  border-color: transparent;
}

.blue-nav li{
  display:inline-block;
  float:left;
  font-size: 12px;
  color: #39739d;
  background-color: #E1ECF4;
  border-color: transparent;
  margin:20px;
  padding:8px;
}

main p .box-2 {
  float:right;
  clear:both;
}

main .box-3 {
  float:right;
}

main img {
  float:left;
  height:250px;
}

footer {
}
