@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/bulma.scss";

* {box-sizing: border-box;}

main {
  margin:0 auto;
  width:90%;
  font-family: 'ReithSans','Arial','Helvetica','sans-serif';
  h2 {
    font-weight:bold;
    margin-bottom: 10px;
  }
  h3 {font-size: 12px;}
  p {
    font-weight:bold;
    font-size:13px;
  }
}

header {
  border-top: 0px;
  background-color:#f4c842;
  padding: 0px 40px;
  margin-bottom:15px;
  h1 {
    display:inline-block;
    color:black;
    font-size: 30px;
    font-weight:bold;
  }
  nav {
    text-decoration: none;
    border-top: 1px solid grey;
    font-size:13px;
    padding:0px;
    a {
      border-left: 1px solid grey;
      padding:0px 10px;
      background-color: inherit;
      &:first-child {border-left:0px}
      &:hover{
        border-bottom:2px solid black;
      }
    }
  }
}
.column {
    padding: 0.5rem 0.5rem;
  }
.navbar-item, .navbar-link,  {
    display: block;
    line-height: 0.75;
    padding: 0.5rem 0.5rem;
    position: relative;
}
