@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

/* add your customization here... */

@import "bulma/bulma.scss";

/* add your sass here... */

body {

  // background-color:yellow;
}

main {
  margin:0 auto;
  width:90%;
}

header {
  background-color:#f4c842;
  padding: 10px 40px;
  border-top: solid 15px black;
  h1 {
    display:inline-block;
    color:black;
    font-size: 30px;
    font-weight:bold;
  }
  nav {
    text-decoration: none;
    border-top: 1px solid grey;
    a {
      border-left: 1px solid grey;
      color:grey;
      padding-left:10px;
    }
  }
}
