<form class="" action="index.html" method="post">
  <label for="name">Name</label>
  <input type="text" id="name">
  <br>
  <label for="email">Email</label>
  <input type="text" id="email">
  <br>
  <label for="tell">Tell us about yourself</label>
  <input type="text" id="tell">
</form>
